.home {
  height: 100vh;
  background-color: white !important;
}
.home_content {
  margin: 2rem 10rem;
}
.home__action {
  display: flex;
  width: 100%;
  justify-content: flex-end;
}
.home__search {
  width: 30% !important;
  margin-bottom: 20px;
  
}
